<h1>Services</h1>

<div>
<br/>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= image_tag ("Car Part"), class:"d-block w-100" %>
	<br/>
    </div>

    <div class="col-sm">

    <h2>Used Parts</h2>
    
      <p>
      We sell used parts for all brands and models. We offer quality reconditioned parts at a very affordable price. When it comes to buy reconditioned car parts, trust is an isuue sometimes, and we recognised that. Thats why, we made trustworthyness our main business principle. You can have piece of mind that, when you buy parts from us, you are getting best possible reconditioned part.	
      </p>
	<br/>
    </div>

</div>

 </div>
<br/><br/>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>Want to Sell your car?</h2>
       <br/>

          <p>
          	Do you have a car you no longer use? Or perhaps, you have got a car which is damaged beyond repair and you want to get rid off it. Then, you are at the right place. We buy damaged used car as well. We help you to get rid of the unwanted car for a very good price. 


          </p>
	     <br/>
	
    </div>

    <div class="col-sm">
    	<br/><br/><br/>

    	<%= image_tag ("Sell your car"), class:"d-block w-100" %>
	     <br/>

   
    </div>

  </div>

</div>

</div>