<h1>About Us</h1>
<br/>

<div>

 <div class="row">
   <div class="col-sm">

	<%= image_tag ("Mechanic at work"), class:"d-block w-100" %>
	<br/>
   </div>

  <div class="col-sm">
    
    <p>
     North Melbourne wreckers is a leading used auto parts seller and wrecking business based in Coburg, Melbourne.
     We are known for selling quality used car parts at a low price. Besides these, we also provide car removal services
     free of cost and we pay good price for cars in Melbourne.
    </p>

    <p>
    Our company is an Australian car wrecking company selling used auto parts in Melbourne. We understand the difficulties 
    of finding perfect car part when the budget is tight. We understand that not everybody can afford to buy original car parts,
    and it is very hard to find the best reconditioned parts. Thats why, we provide best quality reconditioned car parts at a very 
    reasonable affordable price.
    </p>

   </div>
 </div>

</div>
