<h1>Contact Us</h1>
<br/>

<div class="container">
 <div class="rows">

 	<%= image_tag ("Google map view"), class:"d-block w-60" %>

 </div>

 <br/>	

<div class="rows">

 <h2>Address</h2>

 <p>
 	15 Mercier St, Coburg North VIC 3058
 </p> 	

 </div>

 <div class="rows">

 <h2>Phone Us</h2>

 <p>
 	<strong>Call us</strong> on 0421701967
 </p> 	

 </div>		

</div>
